@import url("https://fonts.googleapis.com/css2?family=Akshar&family=Asap+Condensed&family=Lato:wght@300&family=Open+Sans:wght@300&family=Oswald:wght@350&family=Quicksand:wght@350&display=swap");
.titulo-para-categorias, .titulo-categoria3, .titulo-categoria4 {
  margin-top: 5px;
  font-family: "Asap Condensed", "Akshar", "Oswald", sans-serif;
  text-align: center;
  color: black;
  text-decoration: none;
  font-size: calc(1rem + .3vw); }
  .titulo-para-categorias h3, .titulo-categoria3 h3, .titulo-categoria4 h3 {
    margin-bottom: 0;
    font-size: 1.35rem; }

.barra-superior {
  background-color: black;
  text-align: center;
  padding: 8px 0; }
  .barra-superior .texto-barra-superior {
    min-height: 20px;
    display: inline;
    word-spacing: 0.5em;
    margin: 0 auto;
    font-weight: 400;
    font-family: "Quicksand", "Lato", "Open Sans", sans-serif;
    color: white; }

.div-logo {
  background-color: white;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 280px)); }
  .div-logo .logo-top {
    width: 100%;
    margin: 20px 0;
    padding: 0 5px; }
  .div-logo .logo-top-index {
    animation-name: logo-in;
    animation-duration: 2s;
    animation-iteration-count: ease-in; }

@keyframes logo-in {
  0% {
    opacity: 0%; } }

.stickynav {
  position: sticky; }

.navbar-contenedor {
  background-color: #ff98c4;
  color: black;
  display: flex;
  flex-direction: row; }
  .navbar-contenedor ul {
    margin: 0 auto; }
  .navbar-contenedor .navbar-toggler {
    border: none; }

.color-submenu {
  background-color: #ffc8e1; }

.submenu {
  border-radius: 0px;
  animation-name: deploysubmenu;
  animation-duration: 0.18s; }

@keyframes deploysubmenu {
  0% {
    opacity: 0%; } }

footer {
  background-color: #d9548e;
  width: 100%; }

.grid-padre-footer {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto;
  width: 100%; }

.grid-hijo-footer-left {
  height: 175px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0 15px;
  align-items: center; }
  .grid-hijo-footer-left img {
    height: 155px; }

.grid-hijo-footer-right {
  color: black;
  display: flex;
  flex-flow: column nowrap;
  font-family: "Quicksand", "Lato", "Open Sans", sans-serif;
  margin: 10px 15px;
  text-decoration: none; }
  .grid-hijo-footer-right h4 {
    margin: 3px 0;
    font-size: 1.3em;
    font-weight: bold; }
  .grid-hijo-footer-right a {
    color: black;
    text-decoration: none; }

.grid-hijo-footer-credits {
  grid-column: span 2;
  display: flex;
  justify-content: space-evenly;
  background-color: #121212;
  padding: 10px;
  color: blanchedalmond;
  font-family: "Quicksand", "Lato", "Open Sans", sans-serif;
  font-weight: 100; }
  .grid-hijo-footer-credits a {
    text-decoration: none;
    color: blanchedalmond; }
  .grid-hijo-footer-credits h5 {
    font-weight: 100;
    margin: 0;
    font-size: 1em; }

.redirection-icon {
  max-height: 21px;
  margin-right: 6px; }

@media screen and (max-width: 1025px) {
  .grid-hijo-footer-credits {
    text-align: center;
    display: flex;
    flex-direction: column; }
    .grid-hijo-footer-credits h5 {
      padding: 5px; } }

@media screen and (max-width: 768px) {
  .grid-padre-footer {
    grid-template-columns: repeat(1, 100%);
    grid-template-areas: "contacto" "data-fiscal" "creditos"; }
    .grid-padre-footer .grid-hijo-footer-left {
      grid-area: data-fiscal;
      justify-content: center; }
    .grid-padre-footer .grid-hijo-footer-right {
      grid-area: contacto;
      text-align: center; }
    .grid-padre-footer .grid-hijo-footer-credits {
      grid-area: creditos; }
      .grid-padre-footer .grid-hijo-footer-credits h5:last-child {
        word-break: break-all; } }

.grid-contacto {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 90px;
  margin: 50px auto;
  justify-content: center;
  max-width: 245px; }
  .grid-contacto img {
    height: 100%;
    display: flex;
    justify-content: flex-end; }

.div-cuenta-carrito {
  font-family: "Quicksand", "Lato", "Open Sans", sans-serif;
  display: flex;
  justify-content: space-around;
  margin: 5px 10px; }
  .div-cuenta-carrito .div-cuenta {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20%;
    margin-right: 20px; }
  .div-cuenta-carrito .div-carrito {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20%; }
  .div-cuenta-carrito .boton-cuenta-carrito {
    background-color: transparent;
    border: 0; }

.productoEnCarrito {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "imagen tituloPrecioCantidad eliminar";
  padding: 10px 5px 10px 5px;
  border-bottom: 1px solid black; }
  .productoEnCarrito h6 {
    margin-bottom: 0; }

.imagenProductoEnCarrito {
  grid-area: imagen;
  height: auto; }
  .imagenProductoEnCarrito img {
    width: 80px;
    height: 80px;
    width: 100%;
    border-radius: 12px; }

.tituloPrecioCantidadProductoEnCarrito {
  display: grid;
  grid-area: tituloPrecioCantidad;
  grid-template-areas: "titulo titulo" "precio cantidad"; }
  .tituloPrecioCantidadProductoEnCarrito .tituloProductoEnCarrito {
    margin: 0px 6px 10px 8px;
    grid-area: titulo;
    text-transform: uppercase; }
  .tituloPrecioCantidadProductoEnCarrito .precioCantidadProductoEnCarrito {
    display: flex;
    justify-content: flex-start;
    margin-left: 8px;
    grid-area: precio; }
  .tituloPrecioCantidadProductoEnCarrito .botonesCantidadProductoEnCarrito {
    display: flex;
    margin-left: 5px;
    grid-area: cantidad; }
    .tituloPrecioCantidadProductoEnCarrito .botonesCantidadProductoEnCarrito button {
      display: flex;
      height: 20px;
      padding: 7px 7px 10px;
      align-items: center; }
    .tituloPrecioCantidadProductoEnCarrito .botonesCantidadProductoEnCarrito .btn-cantidad {
      border: 1px solid black;
      background-color: white; }

.eliminarProductoEnCarrito {
  grid-area: eliminar;
  display: flex;
  align-content: center; }
  .eliminarProductoEnCarrito button {
    font-weight: 1000;
    border: 0;
    border-radius: 6px;
    background-color: #ff7ba1;
    height: 26px;
    width: 26px; }
    .eliminarProductoEnCarrito button:active {
      border: 3px solid #ef4978; }

.offcanvas-header {
  background-color: #fff1fc;
  border-bottom: 1px solid black; }
  .offcanvas-header #offcanvasRightLabel {
    font-family: "Quicksand", "Lato", "Open Sans", sans-serif;
    font-weight: bolder;
    margin-bottom: 0px; }

.offcanvas-body {
  padding: 0px 20px 5px 20px; }

.offcanvas-footer {
  font-size: 1.22em;
  font-family: "Quicksand", "Lato", "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #fff1fc;
  border-top: 1px solid black; }

.divTotalAPagar {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px; }

.divBotonFinalizarCompra {
  margin-top: 5px; }
  .divBotonFinalizarCompra button {
    background-color: #ffb8d7;
    border: 0;
    padding: 3px 8px 6px 9px;
    border-radius: 5px; }
    .divBotonFinalizarCompra button:active {
      font-weight: bolder;
      background-color: #ffa1ca; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: normal; }

p, ul {
  margin: 0;
  padding: 0; }

.body-index {
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

body {
  position: relative;
  padding-bottom: calc(217px + 2em);
  min-height: 100vh; }

header, section a, .grid-contacto ul, footer, footer ul {
  text-decoration: none;
  list-style: none; }

footer {
  bottom: 0;
  position: absolute; }

@media screen and (max-width: 1025px) {
  body {
    padding-bottom: calc(290px + 1em); } }

@media screen and (max-width: 768px) {
  body {
    padding-bottom: calc(460px + 1em); } }

@media screen and (max-width: 327px) {
  body {
    padding-bottom: calc(490px + 1em); } }

.titulo-para-categorias, .titulo-categoria3, .titulo-categoria4 {
  margin-top: 5px;
  font-family: "Asap Condensed", "Akshar", "Oswald", sans-serif;
  text-align: center;
  color: black;
  text-decoration: none;
  font-size: calc(1rem + .3vw); }
  .titulo-para-categorias h3, .titulo-categoria3 h3, .titulo-categoria4 h3 {
    margin-bottom: 0;
    font-size: 1.35rem; }

.navbar {
  padding-left: .75rem; }

.titulo-tienda-index {
  font-family: "Asap Condensed", "Akshar", "Oswald", sans-serif;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 90vw;
  margin: 0 auto; }
  .titulo-tienda-index :last-child {
    font-family: "Quicksand", "Lato", "Open Sans", sans-serif;
    font-weight: 100; }

.grid-categorias {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;
  justify-content: center;
  margin: 0 auto;
  max-width: 70vw; }

.categoria img {
  width: 100%;
  border-radius: 12px;
  transition: opacity 0.2s; }
  .categoria img:hover {
    opacity: 85%; }

.categoria a:hover {
  text-decoration: underline;
  color: black; }

.titulo-categoria1, .titulo-categoria2 {
  margin-top: 5px;
  font-family: "Asap Condensed", "Akshar", "Oswald", sans-serif;
  text-align: center;
  color: black;
  text-decoration: none;
  font-size: calc(1rem + .3vw); }
  .titulo-categoria1 h3, .titulo-categoria2 h3 {
    margin-bottom: 0;
    font-size: 1.35rem; }

.contenedor-boton-ver-mas {
  display: flex;
  justify-content: center;
  margin: 40px 0; }
  .contenedor-boton-ver-mas button {
    background-color: #c400f5;
    font-weight: 500;
    color: white; }
  .contenedor-boton-ver-mas :focus {
    background-color: #db8fee; }

@media screen and (max-width: 750px) {
  .grid-categorias {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1em;
    justify-content: center;
    margin: 0 auto;
    max-width: 90vw; } }

.main-productos {
  display: grid;
  margin: 0 auto;
  max-width: 80vw; }

.grid-buscador {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  margin: 40px 0; }
  .grid-buscador .titulo-tienda-productos {
    font-family: "Asap Condensed", "Akshar", "Oswald", sans-serif; }
    .grid-buscador .titulo-tienda-productos :last-child {
      font-family: "Quicksand", "Lato", "Open Sans", sans-serif;
      font-weight: 100;
      margin-bottom: 0.5em; }
  .grid-buscador .buscador {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
  .grid-buscador .boton-buscar-producto {
    color: #932e4e;
    border-color: #f373aa; }
    .grid-buscador .boton-buscar-producto:focus {
      background-color: #d9548e;
      color: black; }

/* GRID PRODUCTOS --- */
.grid-contenedor-productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 10%));
  gap: 2em;
  justify-content: center; }
  .grid-contenedor-productos .producto {
    transition: transform 0.2s; }
    .grid-contenedor-productos .producto .div-boton-agregar {
      display: flex;
      justify-content: center;
      margin-top: 5px; }
      .grid-contenedor-productos .producto .div-boton-agregar button {
        background-color: #ffb8d7;
        border: 0;
        padding: 3px 5px 6px 5px;
        border-radius: 5px; }
        .grid-contenedor-productos .producto .div-boton-agregar button:active {
          background-color: #ffa1ca; }
    .grid-contenedor-productos .producto img {
      border-radius: 12px; }
    .grid-contenedor-productos .producto:hover {
      transform: scale(1.05); }
  .grid-contenedor-productos .titulo-producto {
    margin-top: 5px;
    color: black;
    text-decoration: none;
    text-align: center; }
    .grid-contenedor-productos .titulo-producto h3 {
      font-family: "Asap Condensed", "Akshar", "Oswald", sans-serif;
      margin-bottom: 0;
      font-size: 1.35rem; }
    .grid-contenedor-productos .titulo-producto :last-child {
      font-family: "Quicksand", "Lato", "Open Sans", sans-serif;
      font-weight: 100; }

@media screen and (max-width: 875px) {
  .grid-buscador {
    display: grid;
    grid-template-columns: repeat(1, minmax(100px, 1fr));
    margin: 40px 0; }
    .grid-buscador .titulo-tienda-productos {
      text-align: center; }
    .grid-buscador .buscador {
      justify-content: center; } }

@media screen and (max-width: 750px) {
  .grid-contenedor-productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 50%));
    gap: 1em;
    justify-content: center;
    margin: 0 1em; }
    .grid-contenedor-productos .producto {
      transition: transform 0.2s; }
      .grid-contenedor-productos .producto img {
        border-radius: 12px; }
      .grid-contenedor-productos .producto:hover {
        transform: scale(1.05); }
    .grid-contenedor-productos .titulo-producto {
      margin-top: 5px;
      color: black;
      text-decoration: none;
      text-align: center; }
      .grid-contenedor-productos .titulo-producto h3 {
        font-family: "Asap Condensed", "Akshar", "Oswald", sans-serif;
        margin-bottom: 0;
        font-size: 1.35rem; }
      .grid-contenedor-productos .titulo-producto :last-child {
        font-family: "Quicksand", "Lato", "Open Sans", sans-serif;
        font-weight: 100; }
  .main-productos {
    max-width: 98vw; } }

.contenedor-info-paquete {
  margin: 0 20px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 800px));
  justify-content: center; }
  .contenedor-info-paquete a {
    word-break: break-all; }

.article-info-paquete {
  text-align: center;
  font-weight: 400;
  font-size: 1.2em;
  line-height: calc(100% * 1.8);
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .article-info-paquete h1 {
    margin-bottom: 20px; }
  .article-info-paquete span {
    font-size: calc(1.375rem + 1.5vw);
    font-weight: 500;
    margin: 20px 0; }

.grid-form-contacto {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(1, minmax(100px, 500px));
  justify-content: center;
  margin: 50px 20px;
  gap: 10px; }
  .grid-form-contacto h1 {
    text-align: center; }
  .grid-form-contacto .boton-enviar-form {
    color: #932e4e;
    border-color: #f373aa; }
    .grid-form-contacto .boton-enviar-form:focus {
      background-color: #d9548e;
      color: black; }

.iniciar-sesion {
  text-align: center;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(1, minmax(100px, 500px));
  justify-content: center;
  margin: 50px 20px;
  gap: 10px; }
  .iniciar-sesion form div {
    margin-bottom: 10px; }
  .iniciar-sesion form button {
    width: 100%;
    margin-bottom: 10px; }
  .iniciar-sesion .boton-accionar-rosa {
    color: #932e4e;
    border-color: #f373aa; }
    .iniciar-sesion .boton-accionar-rosa:focus {
      background-color: #d9548e;
      color: black; }
