@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&family=Smokum&display=swap');
$color-nav:#ff98c4;
$color-footer: #d9548e;
$fuente-titulos: 'Asap Condensed', sans-serif;
$fuente-descripciones:'Open Sans', sans-serif;
$borde-img-productos: 12px