$color-nav:#ff98c4;
$color-footer: #d9548e;
$fuente-titulos: 'Asap Condensed', 'Akshar', 'Oswald', sans-serif;
$fuente-descripciones:'Quicksand', 'Lato', 'Open Sans', sans-serif;
$borde-img-productos: 12px;