@import "../variables/variables";
.titulo-tienda-index{
    @include titulos-h1;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 90vw;
    margin: 0 auto;
    :last-child{
        @include subtitulos-h2;
    }
}
.grid-categorias{
    @include grid-categorias-index;
}
.categoria{
    img{
        width: 100%;
        border-radius: $borde-img-productos;
        transition: opacity 0.2s;
        &:hover{
            opacity: 85%;
        }
    }
    & a:hover{
        text-decoration: underline;
        color: black;
    }
}
.titulo-categoria{
    margin-top: 5px;
    font-family: $fuente-titulos;
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: calc(1rem + .3vw);
    h3{
        margin-bottom: 0;
        font-size: 1.35rem;
    }
}
.contenedor-boton-ver-mas{
    display: flex;
    justify-content: center;
    margin: 40px 0;
    button{
        background-color: #c400f5;
        font-weight: 500;
        color: white;
    }
    :focus{
        background-color: #db8fee;
    }
}
@media screen and (max-width: 750px) {
    .grid-categorias{
        @include grid-categorias-index-s;
    }
}