@import "variables/variables";
@import "../sass2/mixins";
.iniciar-sesion{
    text-align: center;
    @include form-contacto-inicio-sesion;
    form{
        div{
            margin-bottom: 10px;
        }
        button{
            width: 100%;
            margin-bottom: 10px;
        }
    }
    .boton-accionar-rosa{
        @include boton-accionar-rosa;
    }
}