@import "variables/variables";
@import "../sass2/mixins";
.main-productos{
    display: grid;
    margin: 0 auto;
    max-width: 80vw;
}
.grid-buscador{
    @include grid-buscador-productos;
    margin: 40px 0;
    .titulo-tienda-productos{
        @include titulos-h1;
        :last-child{
            @include subtitulos-h2;
            margin-bottom: 0.5em;
        }
    }
    .buscador{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .boton-buscar-producto{
        @include boton-accionar-rosa;
    }
}
    /* GRID PRODUCTOS --- */
.grid-contenedor-productos{
    @include grid-productos;
}
@media screen and (max-width: 875px) {
    .titulo-tienda-productos{
        text-align: center;
    }
    .grid-buscador{
        .buscador{
            justify-content: center;
        }
    }
}
@media screen and (max-width: 750px){
    .grid-contenedor-productos{
        @include grid-productos-s
    }
    .main-productos{
        max-width: 98vw;
    }
    .grid-buscador{
        width: 80vw;
        margin: 40px auto;
    }
}