@import "../../variables/variables";
footer{
    background-color: $color-footer;
    width: 100%;
}
.grid-padre-footer{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows:auto;
    width: 100%;
}
.grid-hijo-footer-left{
    height: 175px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 15px;
    align-items: center;
    img{
        height: 155px;
    }
}
.grid-hijo-footer-right{
    color: black;
    display: flex;
    flex-flow: column nowrap;
    font-family: $fuente-descripciones;
    margin: 10px 15px;
    text-decoration: none;
    h4{
        margin: 3px 0;
        font-size: 1.3em;
        font-weight: bold;
    }
    a{
        color: black;
        text-decoration: none;
    }
}
.grid-hijo-footer-credits{
    grid-column: span 2;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(18, 18, 18);
    padding: 10px;
    color:blanchedalmond;
    font-family: $fuente-descripciones;
    font-weight: 100;
    a{
        text-decoration: none;
        color: blanchedalmond;
    }
    h5{
        font-weight: 100;
        margin: 0;
        font-size: 1em;
    }
}
.redirection-icon{
    max-height: 21px;
    margin-right: 6px;
}
@media screen and (max-width: 1025px) {
    .grid-hijo-footer-credits{
        text-align: center;
        display: flex;
        flex-direction: column;
        h5{
            padding: 5px;
        }
    }
}
@media screen and (max-width: 768px) {
    .grid-padre-footer{
        grid-template-columns: repeat(1, 100%);
        grid-template-areas: 
        "contacto"
        "data-fiscal"
        "creditos"
        ;
        .grid-hijo-footer-left{
            grid-area: data-fiscal;
            justify-content: center;
        }
        .grid-hijo-footer-right{
            grid-area: contacto;
            text-align: center;
        }
        .grid-hijo-footer-credits{
            grid-area: creditos;
            h5:last-child{
                word-break: break-all;
            }
        }
    }
}