@import "variables/variables";
.barra-superior{
    background-color: black;
    text-align: center;
    padding: 8px 0;
    .texto-barra-superior{
        min-height: 20px;
        display: inline;
        word-spacing: 0.5em;
        margin: 0 auto;
        font-weight: 400;
        font-family: $fuente-descripciones;
        color: white;
    }
}
.div-logo{
    background-color: white;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 280px));
    .logo-top{
        width: 100%;
        margin: 20px 0;
        padding: 0 5px;
    }
    .logo-top-index{
        animation-name: logo-in;
        animation-duration: 2s;
        animation-iteration-count: ease-in;
    }
    @keyframes logo-in {
        0%{
            opacity: 0%;
        }
    }
}
.navbar-contenedor{
    background-color: $color-nav;
    color: black;
    display: flex;
    flex-direction: row;
    ul{
        margin: 0 auto;
    }
    .navbar-toggler{
        border: none;
    }
}
.color-submenu{
    background-color: #ffc8e1;
}
.submenu{
    border-radius: 0px;
    animation-name: deploysubmenu;
    animation-duration: 0.18s;
}
@keyframes deploysubmenu {
    0%{
        opacity: 0%;
    }
}