@import "variables/variables";
.barra-superior{
    background-color: black;
    text-align: center;
    padding: 8px 0;
    .texto-barra-superior{
        min-height: 20px;
        display: inline;
        word-spacing: 0.5em;
        margin: 0 30px;
        font-weight: 400;
        font-family: 'Open Sans';
        color: white;
    }
}
.span-logo{
    background-color: rgb(255, 255, 255);
    width: 100%;
    justify-content: center;
    display: flex;
    .logo-top{
        margin: 20px;
        width: 280px
    }
    .logo-top-index{
        animation-name: logo-in;
        animation-duration: 2s;
        animation-iteration-count: ease-in;
    }
    @keyframes logo-in {
        0%{
            opacity: 0%;
        }
    }
}
nav{
    ul{
        margin: 0 auto;
    }
}
.color-propio{
    background-color: $color-nav;
    color: black;
}
.color-submenu{
    background-color: #ffc8e1;
}
.submenu{
    border-radius: 0px;
    animation-name: deploysubmenu;
    animation-duration: 0.18s;
}
@keyframes deploysubmenu {
    0%{
        opacity: 0%;
    }
}